.l-active{
  color: crimson!important;
}
.l:hover{
  color: crimson!important;
}
.l{
  display: inline-block;
  color: grey;
}
.l span{
  width: 100%
}
.nav-link{
  width: 100%;
  font-size: 1.2rem;
}
.content{
  min-height: 15rem;
}
.bottom{
  min-height: 5rem;
}
.row-link{
  cursor: pointer;
}
a small{
  font-size: 11px;
}
.nav-item a{
  line-height: 21px;
  text-align: end;
  margin-bottom: 0.3rem;
  border-bottom: 1px solid #eee;
}
.table td, .table th{
  border: 0!important;
}
